<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Pacifico&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/gsap/gsap.min.js"></script>
    <title>Wishes For You : 내 방명록</title>
</head>
<body class="Site">
    <header id="header">
        <div class="contents-wrapper">
            <h1 class="logo"><a href="index.html" class="link_logo"></a></h1>
            <ul>
                <!-- <li><a href="#">회원가입</a></li> -->
                <li><a href="#"><span class="user_name">강수경</span> 님</a></li>
                <li><a href="#">로그아웃</a></li>
                
            </ul>
        </div>
    </header>
    <section class="content Site-content">
        <div class="inner">
            <div class="title-wrap">
                <div class="title">Happy New Year!<br><em>2022</em></div>                
                <div class="sub-title">" <span class="user_name">김스파</span>님의 2022년을 음악과 함께 응원해 주세요 "</div>
            </div>        
        <div class="board-wrap">
            <div class="no-list">
                <span class="no-msg">아직 친구들에게 받은 덕담 카드가 없어요! 친구들에게 내 방명록 링크를 공유해주세요</span>
                <a href="#" class="btn btn-share">링크 공유<span class="material-icons">
                    share</span> </a>
            </div>
            <!-- <ul id="board-list">
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ul> -->
        </div>
        </div>

    </section>
    <footer id="footer">
        <div class="inner">
            <p class="copy_right">Copyright ©2022 TEAM ALLIN. All rights reserved.</p>
        </div>
    </footer>
    <button class="btnTop">
        <span class="material-icons">north</span>
    </button>
</body>

</html>