<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/gsap/gsap.min.js"></script>
    <title>Wishes For You</title>
</head>

<body class="Site">
    <header id="header">
        <div class="contents-wrapper">
            <h1 class="logo">
                <a href="/#" class="link_logo"></a></h1>
            <ul>
                <li><a href="/join">회원가입</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
        </div>
    </header>
    <main id="main" class="Site-content content">
        <div class="inner">
            <div class="title-wrap">
                <div class="title">Happy New Year!<br><em>2022</em></div>
                <div class="sub-title">친구들에게 새해 덕담 카드를 받아보세요.</div>
                <!-- <div class="sub-title">" <span class="user_name">김스파</span>님의 2022년을 음악과 함께 응원해 주세요 "</div> -->
                <img src="../static/images/tiger.png" alt="tiger">

            </div>
            <button class="btn btn-create"><a href="/board">방명록 보기</a></button>
            <button class="btn btn-create"><a href="/input">방명록 쓰기</a></button>
        </div>

    </main>
    <footer id="footer">
        <div class="inner">
            <p class="copy_right">Copyright ©2022 TEAM ALLIN. All rights reserved.</p>
        </div>
    </footer>
    <button class="btnTop">
        <span class="material-icons">north</span>
    </button>
{% block content %}
    {% endblock %}
</body>

</html>