<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/gsap/gsap.min.js"></script>
    <title>Wishes For You</title>
    <script defer>
        function hello() {
            alert("안녕하세요");
        }
    </script>
</head>

<body class="Site">
    <header id="header">
        <div class="contents-wrapper">
            <h1 class="logo"><a href="index.html" class="link_logo"></a></h1>
            <ul>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">로그인</a></li>
            </ul>
        </div>
    </header>
    <section class="Site-content content">
        <div class="inner">
            <div class="title-wrap">
                <div class="title">Happy New Year!<br><em>2022</em></div>
                <div class="sub-title">" <span class="user_name">김스파</span>님의 2022년을 음악과 함께 응원해 주세요 "</div>
            </div>
            <div class="content-wrap">
                <div class="step1-box con-box">
                    <div class="title"><em>step1. </em>음악 선택</div>
                    <div class="bg">
                        <ul class="song-tag">
                            <li><a href="#" class="btn-tag on">#추억</a></li>
                            <li><a href="#" class="btn-tag">#힐링</a></li>
                            <li><a href="#" class="btn-tag">#위로</a></li>
                            <li><a href="#" class="btn-tag">#휴식</a></li>
                        </ul>
                        <ul id="song-list" class="song-list-wrap">
                           
                            <li class="song-item">
                                <a href="#">
                                    <img width="120" height="120"
                                        src="https://cdnimg.melon.co.kr/cm2/album/images/108/38/762/10838762_20220111152931_500.jpg/melon/resize/120/quality/80/optimize"
                                        alt="다시 겨울이야 - 페이지 이동">
                                </a>
                                <div class="song-info">
                                    <div id="song-title" class="ellipsis song-title">너와 헤어지는 일은 소용없는 일</div>
                                    <div id="song-artist" class="ellipsis song-artist">유원지</div>
                                </div>
                                <a href="#" class="btn-pick-song" onclick="pickSong()">선택</a>
                            </li>
                            <li class="song-item">
                                <a href="#">
                                    <img width="120" height="120"
                                        src="https://cdnimg.melon.co.kr/cm2/album/images/108/38/762/10838762_20220111152931_500.jpg/melon/resize/120/quality/80/optimize"
                                        alt="다시 겨울이야 - 페이지 이동">
                                </a>
                                <div class="song-info">
                                    <div id="song-title" class="ellipsis song-title">너와 헤어지는 일은 소용없는 일</div>
                                    <div id="song-artist" class="ellipsis song-artist">유원지</div>
                                </div>
                                <a href="#" class="btn-pick-song" onclick="pickSong()">선택</a>
                            </li>
                            <li class="song-item">
                                <a href="#">
                                    <img width="120" height="120"
                                        src="https://cdnimg.melon.co.kr/cm2/album/images/108/38/762/10838762_20220111152931_500.jpg/melon/resize/120/quality/80/optimize"
                                        alt="다시 겨울이야 - 페이지 이동">
                                </a>
                                <div class="song-info">
                                    <div id="song-title" class="ellipsis song-title">너와 헤어지는 일은 소용없는 일</div>
                                    <div id="song-artist" class="ellipsis song-artist">유원지</div>
                                </div>
                                <a href="#" class="btn-pick-song" onclick="pickSong()">선택</a>
                            </li>
                            <li class="song-item">
                                <a href="#">
                                    <img width="120" height="120"
                                        src="https://cdnimg.melon.co.kr/cm2/album/images/108/38/762/10838762_20220111152931_500.jpg/melon/resize/120/quality/80/optimize"
                                        alt="다시 겨울이야 - 페이지 이동">
                                </a>
                                <div class="song-info">
                                    <div id="song-title" class="ellipsis song-title">너와 헤어지는 일은 소용없는 일</div>
                                    <div id="song-artist" class="ellipsis song-artist">유원지</div>
                                </div>
                                <a href="#" class="btn-pick-song" onclick="pickSong()">선택</a>
                            </li>


                        </ul>
                        <div class="txt">마음에 드는 노래가 없으세요?</div>
                        <a href="#" class="btn btn-reload" onclick="">노래 다시 찾기</a>
                    </div>
                </div>
                <div class="step2-box con-box">
                    <div class="title"><em>step2. </em>덕담 입력하기</div>
                    <div class="bg">
                        <div class="con-wrap">
                            
                            <div id="picked-song" class="song-box picked">
                                <a href="#" class="song-img">
                                    <img width="120" height="120"
                                        src="https://cdnimg.melon.co.kr/cm2/album/images/108/38/762/10838762_20220111152931_500.jpg/melon/resize/120/quality/80/optimize"
                                        alt="다시 겨울이야 - 페이지 이동">
                                </a>

                                <div class="song-info">
                                    <div class="ellipsis song-title">너와 헤어지는 일은 소용없는 일</div>
                                    <div class="ellipsis song-artist">유원지</div>
                                </div>
                            </div>
                            
                            <!-- <div class="song-box no-song">
                                선택된 노래가 없습니다.
                            </div> -->
                            <!-- 덕담 작성 폼 -->
                            <div class="wish-con">
                                <form method="post" action="">

                                    <table class="wish-form">
                                        <colgroup>
                                            <col style="width:100px;">
                                            <col style="width:400px;">

                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="pb10"><label for="">이름</label></th>
                                                <td class="pb10">
                                                    <div class="form-wrap"><input class="type1" type="text"></div>
                                                </td>
                                            </tr>
                                            <tr >
                                                <th class="pb10"><label for="">비밀번호</label></th>
                                                <td class="pb10">
                                                    <div class="form-wrap"><input class="type1" type="password"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="">내용</label></th>
                                                <td>
                                                    <div class="form-wrap"><textarea class="type1" name="content"
                                                            required=""></textarea>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <!--
                                    <ul >
                                        <li>
                                            <p><span>이름</span></p>
                                            <input type="text" name="addtext1" required="">
                                        </li>
                                        <li class="textIndent">
                                            <p><span>비밀번호</span></p>
                                            <input type="text" name="mem_tel" required="">
                                        </li>
                                        <li>
                                            <p><span>내용</span></p>
                                           
                                        </li>
                                    </ul>
                                    -->

                                </form>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="#" class="btn btn-submit" onclick="hello()">저장하기</a>
                            <a href="#" class="btn btn-reset">다시 입력</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="inner">
            <p class="copy_right">Copyright ©2022 TEAM ALLIN. All rights reserved.</p>
        </div>
    </footer>
    <button class="btnTop">
        <span class="material-icons">north</span>
    </button>
</body>

</html>